<VirtualHost *:80>
    ServerName {{ item.domain }}
    ServerAdmin webmaster@{{ item.domain }}
    DocumentRoot {{ item.path }}
    DirectoryIndex index.php index.html

    ErrorLog /var/log/apache2/{{ item.domain }}_error.log
    CustomLog /var/log/apache2/{{ item.domain }}_access.log combined

    <FilesMatch \.php$>
        SetHandler "proxy:fcgi://localhost:9000/"
    </FilesMatch>

    <Directory {{ item.path }}>
        Options FollowSymLinks
        DirectoryIndex index.php
        AllowOverride All
        Require all granted
    </directory>
</VirtualHost>